body {
  background-color: rgb(252, 235, 250);
  margin: auto;
  text-align: center;
}

.navi {
  display: flex;
  justify-content: center;
  border-top: solid 20px rgb(212, 137, 206);
  background-color: rgb(253, 221, 251);
  height: 5em;
  line-height: 5em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navi li {
  width: 25%;
  text-align: center;
  border: solid 2px rgb();
  font-size: 24px;
}

.navi li a {
  text-decoration: none;
  color: rgb(255, 255, 255);

  text-shadow: 0 0 8px rgb(212, 137, 192);
}

.up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  color: rgb(231, 114, 196);

  border: solid 5px rgb(212, 137, 192);
  width: 75px;
  height: 75px;
  text-align: center;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
}

.home {
  position: fixed;
  right: 50px;
  bottom: 130px;
  color: rgb(193, 50, 183);

  border: solid 5px rgb(193, 50, 183);
  width: 75px;
  height: 75px;
  text-align: center;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
}
a {
  color: rgb(239, 157, 240);
}

a:visited {
  text-decoration: none;
  color: rgb(239, 157, 240);
}
